.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #3a643b;
  text-decoration: underline;
  margin-bottom: 0px;
}
.about-text {
  color: darkgray;
  font-weight: 700;
  font-family: Caveat;
  text-align: center;
}
.about-image {
  border-radius: 20px;
  width: 400px;
}
.about-image-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: center;
  max-width: 800px;
}
