.home-container {
  min-height: 90vh;
  background-image: url('https://s3-alpha-sig.figma.com/img/d45f/d3de/6f20e70fa75049c9e8140baa6d7e6531?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YJ4Zw4xtniavMY~CBUWygZYq6Ax70~TZ7VRjjJkbGvA~8uGXylRRZK9mnOktv86mJBOVN0GZAopUjpHWRAaV6kT62oY~HX~OQiOQdYnXFU9cUBhn-Xr7HiTIMvzKsUZU4NIomEWuECRsM164ZYe1~QDfSsMpD9XIIZKXhDLDzJlnQLmhzRt-higCBNlH~ngbaw-1LSuwYSAM6FLax53p2iHXg26ykwLZxKjZel5Uu-lFL-ROe~RYRBsNfWUgtganiCFrcvV3gBJVJyU-9uWF3CxKaxEWv52ofmVm4bsTBrEgUYUvUOBnLNTmAeP5JwncXeMEXSI-FLeBtnAyaFaySA__');
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .home-container {
    flex-direction: row;
  }
}
.welcome-heading {
  color: green;
  font-weight: 400;
}
.detail-heading {
  color: aliceblue;
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .detail-heading {
    font-size: 40px;
  }
}
.btn {
  font-weight: 700;
  padding: 5px;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.find-doctors-button {
  color: white;
  background-color: #3a643b;
  transition: transform 0.3s ease;
}

.find-doctors-button:hover {
  color: #3a643b;
  background-color: #fff7e2;
  transform: scale(1.05);
}
.yoga-image-container {
  background-image: url('https://s3-alpha-sig.figma.com/img/328a/02bf/246a02b2aac7549c73dbe7dacc8e2553?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=At43ZTnzGBKlNZcO3HM-gs9bM-xqYrMdWUbt1zAiqyVSXE3AWUuj99tcNRN1Wb0VwBDb1o~nxNdknjmxhm-jMvANC7aI2Lb2SgnSa44pHYM1BAMj5~loCKlvNeex96TZ7OIwxv4yQV8JciYI8PB~g5YEBciduiLC-tMPcrkXboGKV~obUMn5Q9qTzXBkuNmgWL5WC6O7YyD4wlXK2aHbrq8yL7sgC2Wwmh0GuOukHvmwl2oQgTAI94MRyLPbxAcXS~tLXG6Bvcn9L~A46YfNxRpmAOHgHCJ8y~oLxhKJl5bKSw4uOoKoh3gogPEtanhV0f11E490SKr25ktVz6d-Uw__');
  background-size: cover;
}
